*{
    box-sizing: content-box;
    color: blue;
    margin: 10;
    padding: 0;
    

}
 

body { background-color: rgb(236, 205, 143);}


p, span {
    
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-style: oblique;
    color: rgb(0, 23, 128);
    width: 300px;
    justify-content: center;

}


h1 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    color: rgb(27, 24, 24);
    display: flex;
    justify-content: center;

}

h2 {

  font-family: 'Poppins', sans-serif;
  padding: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;

}

/* al querer insertar iconos para hacerlo mas vistoso, se produce este error al querer llamarlo_blocked by CORS policy opte por fuentes de Google*/


  section#Nombre {

    background-color: azure;
    

  }

  section#Objetivos{

    background-color: azure;
    font-weight: 200;
    font-size: 20px;
  }

  section#Otros_Estudios{

    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    justify-content: center;
  }

  section#Experiencia_Laboral{

    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  section#Proyectos{

    background-color: gainsboro;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }

  section#Contacto{

    background-color: rgb(240, 216, 207);
    font-family: Arial, Helvetica, sans-serif;
  }

  #mi_parrafo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(13, 15, 83);
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    
  }

  section#img {
     text-align: center;
     justify-content: center;
     text-align-last: center;
     
   }
    